<!-- <div class="container">
    <h2>{{ .Title }}</h2>
    <p>This is the homepage of our application, rendered by the Go backend.</p>
    <p>HTMX is loaded and ready to go!</p>

    <div class="card">
        <h3>Session Management Added!</h3>
        <p>
            The application now supports database-backed sessions. You can create a user on the "Users" page and then use their email to log in.
        </p>
    </div>
    <div id="browser-dialog-container"></div>

   
</div-->
<div class="container-fluid">
    <!-- Server initiated dialog placeholder -->
    <div id="server-dialog-container" _="on dialog_event from body put detail.value into me"></div>
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Conta Corrente
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Conta Corrente</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
      
<!-- https://www.geeksforgeeks.org/web-templates/how-to-place-tables-side-by-side-using-html-and-css/ -->
  <div class="table-container"> 
    <table class="table"> 
       <tr>
                                          <th class="fs-2 table-primary" colspan="3">Atual</th>
                                   </tr>
      <tr> 
                            <th scope="col"></th>
                            <th scope="col">Real ($)</th>
                            <th scope="col">Ouro (g)</th>
      </tr> 
      <tr> 
                            <td>Crédito</td>
                            <td>$.00</td>
                            <td>$.00</td>
      </tr> 
      <tr> 
                            
                            <td>Débito</td>
                            <td>$.00</td>
                            <td>$.00</td>
       </tr> 
      <tr class="fw-bold"> 
                            <td>Saldo</td>
                            <td>$.00</td>
                            <td>$.00</td>
      </tr> 
    </table> 

    <table class="table"> 
      <th colspan="3"  class="fs-2 table-warning">Renda Potencial / Disponível</th>
      <tr> 
                     <tr>
                            <th scope="col"></th>
                            <th scope="col">Real ($)</th>
                            <th scope="col">Ouro (g)</th>
      </tr> 
      <tr> 
                           <td>Saldo</td>
                            <td>$.00</td>
                            <td>$.00</td>
      </tr> 
                     <tr>
                            <td>A ganhar:</td>
                            <td>$.00</td>
                            <td>$.00</td>
                     </tr>
                      <tr class="fw-bold">
                            <td>Disponível</td>
                            <td>$.00</td>
                            <td>$.00</td>
                     </tr>      
    </table> 
  </div> 

      <h2>Section title</h2>
 <div class="container">
    <h2>{{ .Title }}</h2>
    <div class="card">
        <h3>Welcome, {{ .PersonName }}!</h3>
        <p>You are successfully logged in.</p>
        <p>This page is only visible to authenticated users.</p>
    </div>
</div>