<div class="container">
    <h2>{{ .Title }}</h2>
    <p>A simple CRUD interface powered by Go, Fiber, and HTMX.</p>

    <div class="card">
        <h3>Add New Person</h3>
        <form 
            hx-post="/persons" 
            hx-target="#person-table-body" 
            hx-swap="afterbegin"
            hx-on::after-request="if(event.detail.successful) this.reset()"
			hx-target-error="#any-errors"
        >
            <!-- Gorilla CSRF requires the token to be in the form body -->
            <input type="hidden" name="gorilla.csrf.Token" value="{{ .CSRFToken }}">

			<!-- label class="sr-only" for="inlineFormInpuFirstName">FistName</label -->
			 <div class="input-group mb-2 mr-sm-2">
				<input type="text" class="form-control mb-2 mr-sm-2" id="first" placeholder="First Name" name="first" required minlength="2">
			 </div>


			<!-- label class="sr-only" for="inlineFormInpuLastName">LastName</label -->
			 <div class="input-group mb-2 mr-sm-2">
				<input type="text" class="form-control mb-2 mr-sm-2" id="last"  placeholder="Last Name"  name="last" required minlength="2">
			 </div>

			<!-- label class="sr-only" for="inlineFormInputGroupEmail">Email</label -->
			<div class="input-group mb-2 mr-sm-2">
				<div class="input-group-prepend">
					<div class="input-group-text">@</div>
				</div>
				<input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required minlength="4">
			</div>

			<!-- label class="sr-only" for="inlineFormInputGroupCell">Cell</label -->
			<div class="input-group  mb-2 mr-sm-2">
				<span class="input-group-text" id="basic-addon1">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
						<path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
						<path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2"></path>
					</svg>
				</span>
				<input type="text" class="form-control" id="cell" placeholder="Cell" name="cell" required required minlength="9" maxlength="9">
			</div>

			<!-- label class="sr-only" for="inlineFormInpuLastName">Password</label -->
			<div class="mb-3">
				<!-- label class="form-label" for="exampleForm.ControlInput1">Email address</label -->
				<input type="text" class="form-control" id="inlineFormInputGroupEmail" placeholder="password" name="password" required  minlength="8" maxlength="12">
				<small class="text-muted form-text">8-12 characters long, at least one letters, number, special characters; no spaces nor emojis.</small>
			</div>


			<div class="input-group mb-2 mr-sm-2">
				<button type="submit" class="btn btn-primary mb-2">Submit</button>
			</div>
			<div id="any-errors"></div>

        </form>
    </div>

    <h3>Existing Associates</h3>
    <!-- table class="person-table" -->
	<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
				<th>Cell</th>
				<th>Actions</th>
            </tr>
        </thead>
        <tbody id="person-table-body">
            {{ range .Associates }}
                {{ template "partials/persons/person-row" . }}
            {{ end }}
        </tbody>
    </table>
</div>
